@model IEnumerable<ASP.NET_Full_Stack_Web_Project.Models.AirFreshner>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Product</title>
    <link href="../wwwroot/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--------------------------Products------------------------------------>
    <h1>AutoCharms Product</h1>
    <br />
    @Html.ActionLink("Add a new product", "AddAirFreshner")
    <br />
    <div class="all-product">
        @foreach (var air in Model)
        {
            <p>Model Name: @air.Name</p>
            <p>Model Description: @air.Description</p>
            <p>Model Scent: @air.Scent</p>
            <p>Model Price: @air.Price</p>
            @Html.ActionLink("Item details", "ShowAirFreshner", new { Id = air.ID })
            <br />
            @Html.ActionLink("Edit Item", "EditAirFreshner", new { Id = air.ID })
            <br />
            @Html.ActionLink("Delete Item", "DeleteAirFreshner", new { Id = air.ID })
            <br />
        }
    </div>
</body>
</html>